---
title: Home
---
<% pages = sorted_articles.slice(0, @config[:page_size]) %>
<% pages.each do |post| %>
  <div class='post'>
    <h1><%= link_to post[:title], post.path %></h1>
    <aside>Posted at: <%= get_pretty_date(post) %></aside>
    <article>
      <%= get_post_start(post) %>
    </article>
  </div>
<% end %>
<hr>
      <div class="row"><div class="span3 offset5"><a href="/archives/">- Blog Archives -</a></div>
<% if articles.length > pages.length %>
      <div class="span2 offset2"><a href="/page/2/">Older &raquo</a></div>
<% end %>
</div>
