@import url(https://fonts.googleapis.com/css?family=Andika);

body {
}

.content {
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
  font-size: 18px;
  font-family: Andika;
}

.post aside {
  color: #888;
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
}

.post article {
  margin: 20px 0 20px 0;
}

.container-fluid {
  padding-top: 90px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.nav-header {
  font-size: 16px;
  color: black;
}

ul li {
  font-size: 16px;
}

.sidebar-nav {
    padding: 5px;
}
