@import url(https://fonts.googleapis.com/css?family=Andika);

body {
  font-family: Andika;
}

.content {
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  font-size: 18px;
}

.post aside {
  color: #888;
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
}

.post article {
  margin: 20px 0 20px 0;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}
